<head><title>Jelly Donuts!</title></head><body>
<style>
 .lineup { background: #9dcef0; font-weight:bold; padding: 10px; }
 .coupon { background: #f5e788; font-weight:bold; padding: 10px; }
 .serve { background: #98f588; font-weight:bold; padding: 10px; }
 .quit { background: #fabbc5; font-weight:bold; padding: 10px; }
 .event { padding:10px; margin-bottom: 50px; border: solid 2px #aaaaaa; }
 table { width: 100%; }
 table td { width: 25%; }
</style>
<h1>JCCC Jelly Donuts Shoppe Simulator</h1>
<div class='event'>
<table><tr><td>Time: 8:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 8:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 8:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 8:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer John (1) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 8:40</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> John </td></tr></table><p class='serve'>Customer John (1) orders a CARAMEL donut for $2.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 8:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $2.95</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Franklin (2) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 9:00</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $2.95</td><td><strong>Current line:</strong> Franklin </td></tr></table><p class='coupon'>Customer Lake (3) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 9:10</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $2.95</td><td><strong>Current line:</strong> Lake Franklin </td></tr></table><p class='serve'>Customer Lake (3) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 9:20</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $8.50</td><td><strong>Current line:</strong> Franklin </td></tr></table><p class='lineup'>Customer Mehmet (4) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 9:30</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $8.50</td><td><strong>Current line:</strong> Franklin Mehmet </td></tr></table><p class='serve'>Customer Franklin (2) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 9:40</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $14.05</td><td><strong>Current line:</strong> Mehmet </td></tr></table><p class='lineup'>Customer Terik (5) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 9:50</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $14.05</td><td><strong>Current line:</strong> Mehmet Terik </td></tr></table><p class='coupon'>Customer Mariam (6) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 10:00</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $14.05</td><td><strong>Current line:</strong> Mariam Mehmet Terik </td></tr></table><p class='coupon'>Customer Mariam (7) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 10:10</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $14.05</td><td><strong>Current line:</strong> Mariam Mariam Mehmet Terik </td></tr></table><p class='quit'>Customer Terik (5) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 10:20</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $14.05</td><td><strong>Current line:</strong> Mariam Mariam Mehmet </td></tr></table><p class='lineup'>Customer Madison (8) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 10:30</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $14.05</td><td><strong>Current line:</strong> Mariam Mariam Mehmet Madison </td></tr></table><p class='lineup'>Customer Chen (9) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 10:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $14.05</td><td><strong>Current line:</strong> Mariam Mariam Mehmet Madison Chen </td></tr></table><p class='serve'>Customer Mariam (7) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 10:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $19.60</td><td><strong>Current line:</strong> Mariam Mehmet Madison Chen </td></tr></table><p class='serve'>Customer Mariam (6) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 11:00</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $26.10</td><td><strong>Current line:</strong> Mehmet Madison Chen </td></tr></table><p class='lineup'>Customer Donghun (10) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:10</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $26.10</td><td><strong>Current line:</strong> Mehmet Madison Chen Donghun </td></tr></table><p class='quit'>Customer Donghun (10) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:20</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $26.10</td><td><strong>Current line:</strong> Mehmet Madison Chen </td></tr></table><p class='serve'>Customer Mehmet (4) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 11:30</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $32.60</td><td><strong>Current line:</strong> Madison Chen </td></tr></table><p class='coupon'>Customer Andrea (11) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 11:40</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $32.60</td><td><strong>Current line:</strong> Andrea Madison Chen </td></tr></table><p class='quit'>Customer Chen (9) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:50</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $32.60</td><td><strong>Current line:</strong> Andrea Madison </td></tr></table><p class='quit'>Customer Madison (8) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:00</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $32.60</td><td><strong>Current line:</strong> Andrea </td></tr></table><p class='quit'>Customer Andrea (11) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $32.60</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Terik (12) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 12:20</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $32.60</td><td><strong>Current line:</strong> Terik </td></tr></table><p class='serve'>Customer Terik (12) orders a CHOCOLATE donut for $6.00 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 12:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $38.60</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Jeremiah (13) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 12:40</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $38.60</td><td><strong>Current line:</strong> Jeremiah </td></tr></table><p class='serve'>Customer Jeremiah (13) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 12:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $43.55</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Garrin (14) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:00</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $43.55</td><td><strong>Current line:</strong> Garrin </td></tr></table><p class='serve'>Customer Garrin (14) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 1:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Paula (15) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 1:20</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> Paula </td></tr></table><p class='lineup'>Customer Uttam (16) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:30</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> Paula Uttam </td></tr></table><p class='lineup'>Customer Mehmet (17) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:40</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> Paula Uttam Mehmet </td></tr></table><p class='lineup'>Customer Ethan (18) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> Paula Uttam Mehmet Ethan </td></tr></table><p class='coupon'>Customer Donghun (19) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 2:00</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> Donghun Paula Uttam Mehmet Ethan </td></tr></table><p class='coupon'>Customer Garrin (20) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 2:10</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> Garrin Donghun Paula Uttam Mehmet Ethan </td></tr></table><p class='coupon'>Customer Dan (21) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 2:20</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $49.10</td><td><strong>Current line:</strong> Dan Garrin Donghun Paula Uttam Mehmet Ethan </td></tr></table><p class='serve'>Customer Dan (21) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 2:30</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $55.60</td><td><strong>Current line:</strong> Garrin Donghun Paula Uttam Mehmet Ethan </td></tr></table><p class='quit'>Customer Ethan (18) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 2:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $55.60</td><td><strong>Current line:</strong> Garrin Donghun Paula Uttam Mehmet </td></tr></table><p class='serve'>Customer Garrin (20) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 2:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $62.10</td><td><strong>Current line:</strong> Donghun Paula Uttam Mehmet </td></tr></table><p class='serve'>Customer Donghun (19) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 3:00</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $67.65</td><td><strong>Current line:</strong> Paula Uttam Mehmet </td></tr></table><p class='lineup'>Customer Samuel (22) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:10</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $67.65</td><td><strong>Current line:</strong> Paula Uttam Mehmet Samuel </td></tr></table><p class='coupon'>Customer Chen (23) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 3:20</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $67.65</td><td><strong>Current line:</strong> Chen Paula Uttam Mehmet Samuel </td></tr></table><p class='serve'>Customer Chen (23) orders a CHOCOLATE donut for $6.00 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 3:30</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $73.65</td><td><strong>Current line:</strong> Paula Uttam Mehmet Samuel </td></tr></table><p class='quit'>Customer Samuel (22) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:40</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $73.65</td><td><strong>Current line:</strong> Paula Uttam Mehmet </td></tr></table><p class='lineup'>Customer Thomas (24) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $73.65</td><td><strong>Current line:</strong> Paula Uttam Mehmet Thomas </td></tr></table><p class='quit'>Customer Thomas (24) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 4:00</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $73.65</td><td><strong>Current line:</strong> Paula Uttam Mehmet </td></tr></table><p class='coupon'>Customer Kayla (25) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 4:10</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $73.65</td><td><strong>Current line:</strong> Kayla Paula Uttam Mehmet </td></tr></table><p class='lineup'>Customer Chase (26) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 4:20</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $73.65</td><td><strong>Current line:</strong> Kayla Paula Uttam Mehmet Chase </td></tr></table><p class='coupon'>Customer Mehmet (27) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 4:30</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $73.65</td><td><strong>Current line:</strong> Mehmet Kayla Paula Uttam Mehmet Chase </td></tr></table><p class='serve'>Customer Mehmet (27) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 4:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $79.20</td><td><strong>Current line:</strong> Kayla Paula Uttam Mehmet Chase </td></tr></table><p class='coupon'>Customer Cecelia (28) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 4:50</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $79.20</td><td><strong>Current line:</strong> Cecelia Kayla Paula Uttam Mehmet Chase </td></tr></table><p class='quit'>Customer Chase (26) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:00</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $79.20</td><td><strong>Current line:</strong> Cecelia Kayla Paula Uttam Mehmet </td></tr></table><p class='coupon'>Customer Franklin (29) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 5:10</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $79.20</td><td><strong>Current line:</strong> Franklin Cecelia Kayla Paula Uttam Mehmet </td></tr></table><p class='serve'>Customer Franklin (29) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 5:20</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $85.70</td><td><strong>Current line:</strong> Cecelia Kayla Paula Uttam Mehmet </td></tr></table><p class='lineup'>Customer Mariam (30) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:30</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $85.70</td><td><strong>Current line:</strong> Cecelia Kayla Paula Uttam Mehmet Mariam </td></tr></table><p class='serve'>Customer Cecelia (28) orders a CARAMEL donut for $2.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 5:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $88.65</td><td><strong>Current line:</strong> Kayla Paula Uttam Mehmet Mariam </td></tr></table><p class='quit'>Customer Mariam (30) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $88.65</td><td><strong>Current line:</strong> Kayla Paula Uttam Mehmet </td></tr></table><p class='coupon'>Customer Ali (31) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 6:00</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $88.65</td><td><strong>Current line:</strong> Ali Kayla Paula Uttam Mehmet </td></tr></table><p class='quit'>Customer Mehmet (17) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 6:10</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $88.65</td><td><strong>Current line:</strong> Ali Kayla Paula Uttam </td></tr></table><p class='serve'>Customer Ali (31) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 6:20</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $93.60</td><td><strong>Current line:</strong> Kayla Paula Uttam </td></tr></table><p class='coupon'>Customer Mohamed (32) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 6:30</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $93.60</td><td><strong>Current line:</strong> Mohamed Kayla Paula Uttam </td></tr></table><p class='lineup'>Customer Lake (33) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 6:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $93.60</td><td><strong>Current line:</strong> Mohamed Kayla Paula Uttam Lake </td></tr></table><p class='serve'>Customer Mohamed (32) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 6:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $98.55</td><td><strong>Current line:</strong> Kayla Paula Uttam Lake </td></tr></table><p class='quit'>Customer Lake (33) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:00</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $98.55</td><td><strong>Current line:</strong> Kayla Paula Uttam </td></tr></table><p class='coupon'>Customer Uttam (34) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 7:10</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $98.55</td><td><strong>Current line:</strong> Uttam Kayla Paula Uttam </td></tr></table><p class='lineup'>Customer Mariam (35) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:20</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $98.55</td><td><strong>Current line:</strong> Uttam Kayla Paula Uttam Mariam </td></tr></table><p class='coupon'>Customer Cody (36) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 7:30</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $98.55</td><td><strong>Current line:</strong> Cody Uttam Kayla Paula Uttam Mariam </td></tr></table><p class='serve'>Customer Cody (36) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 7:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $105.05</td><td><strong>Current line:</strong> Uttam Kayla Paula Uttam Mariam </td></tr></table><p class='quit'>Customer Mariam (35) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $105.05</td><td><strong>Current line:</strong> Uttam Kayla Paula Uttam </td></tr></table><p class='serve'>Customer Uttam (34) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<p><strong>Store closed for the day!</strong></p>
<p>Total money earned: $110.00</p>
</body>
